<!doctype html>
<html>
<head>
<title>Ratings</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<script src="http://code.jquery.com/jquery.js"></script>

  {% block content %} put your content here {% endblock %}


</body>
</html>