<table>
    <tr>
        <th>Nutrient Name</th>
        <th>Reccomended Daily Value</th>
        <th>Today's Values</th>
    </tr>
    <tr>
        <td>Calories</td>
        <td>{{cal_obj.calories_modactive}}
        <td>{{total_nutrients['calories']}}</td>
    </tr>
    {%for item in nutrient_dict %}
        <tr>
            <td>{{ nutrient_dict[item] }}</td>
            <td>{{ ref_obj[item] }}</td>
            <td>{{ total_nutrients[item] }}</td>
        </tr>
    {% endfor %}
</table>

<h1>Foods eaten today</h1>
    <table>
        <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Unit </th>
            <th>Serving Weight (g)</th>
            <th></th>
        </tr>
        </thead>

        <tbody id="records-table">
        {%for item in rec_obj %}
            <tr id="food-table-{{item.record_id}}">
                <td>{{ item.food.food_name }}</td>
                <td>
                    <div id="food-form-quantity1-{{item.record_id}}" class="quantity">{{ item.serving_qty }}</div>

                    <div style="display: none;" id="food-form-quantity2-{{item.record_id}}" class="editquantity"><input type=text placeholder={{item.serving_qty}}></div>
                </td>
                <td>{{ item.serving_unit }} </td>
                <td>{{ item.serving_weight_grams }}</td>
                <td>
                    <button id="food-form-button-edit-{{item.record_id}}" class="editbuttons" name="record_id" type="submit" value="{{item.record_id}}">Modify</button>
                    <button style="display: none;" id="food-form-button-submit-{{item.record_id}}" type="submit" value="{{item.record_id}}">Save</button>
                    <button style="display: none;" id="food-form-button-delete-{{item.record_id}}" type="submit" value="{{item.record_id}}">Delete</button>
                    <button style="display: none;" id="food-form-button-cancel-{{item.record_id}}" type="submit" value="{{item.record_id}}">Cancel</button>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script>
    $("body").find("*").each(function() {
    $(this).off("click");
});
</script>
    <script src="/static/profile.js"></script>